.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Arial, sans-serif;
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
}

.App-header {
  display: flex;
  flex-direction: column; /* Adjust this to 'row' if you want images side by side */
  align-items: center;
  justify-content: center;
  background-color: #348cd0;
  min-height: 50vh;
  width: 100%;
  box-sizing: border-box;
  padding: 2rem 0;
  color: white;
}

.App-content,
.App-portfolio,
.App-contact {
  margin-bottom: 2rem;
}

.App-content p,
.App-portfolio p,
.App-contact p {
  text-align: left;
}

.App-portfolio ul {
  list-style-type: none;
  padding: 0;
}

.App-portfolio li {
  margin-bottom: 1rem;
}

a {
  color: #61dafb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.App img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.small-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

